In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('data/clean_data.csv')

In [9]:
df.head()

,person_gender,person_education,person_income,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,Female,Master,71948.0,Rent,19200.0,Personal,16.00,0.31,3.0,561,No,1
1,Female,High School,28367.0,Own,3000.0,Education,11.14,0.08,2.0,539,Yes,0
2,Female,High School,28367.0,Mortgage,5500.0,Medical,12.87,0.31,3.0,635,No,1
3,Female,Bachelor,79753.0,Rent,19200.0,Medical,15.23,0.31,2.0,675,No,1
4,Male,Master,66135.0,Rent,19200.0,Medical,14.27,0.31,4.0,586,No,1

In [10]:
# calcuate the left over income after loan cost
df['net_disposable_income'] = df['person_income'] - (df['loan_amnt'] * df['loan_int_rate'] / 100)

In [11]:
df.head()

,person_gender,person_education,person_income,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status,net_disposable_income
0,Female,Master,71948.0,Rent,19200.0,Personal,16.00,0.31,3.0,561,No,1,68876.00
1,Female,High School,28367.0,Own,3000.0,Education,11.14,0.08,2.0,539,Yes,0,28032.80
2,Female,High School,28367.0,Mortgage,5500.0,Medical,12.87,0.31,3.0,635,No,1,27659.15
3,Female,Bachelor,79753.0,Rent,19200.0,Medical,15.23,0.31,2.0,675,No,1,76828.84
4,Male,Master,66135.0,Rent,19200.0,Medical,14.27,0.31,4.0,586,No,1,63395.16

In [12]:
df.to_csv('data/feature_enginering.csv', index=False)